body {
    font-family: 'Advent Pro', sans serif;
    padding: 0;
    margin: 0;
    background-color: #035CFF;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30 px;
    font-size: 2em;
}


a {
    text-decoration: none;
    color: black;
}
/*-----------------------j aime les chipes----------------------------*/

header {
    overflow: hidden;
    background-color:  #008CFF;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
#logo {
    font-family: 'Advent Pro', cursive;
    font-weight: bold;
    float: left;
    font-size:
}
#discordt, #serveurt {
    float: right
}
header li {
    float: right;
    front-size: 1.2em;
}
header a {
    font-family: 'Advent Pro', cursive;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 18px 16px;
}
#sec1 {
    padding-top: 60px;
    background: url(https://fr-minecraft.net/telecharger.php?id=13936) no-repeat;
    background-size: cover;
    height: 799px;
}
h1 {
    font-size: 5em;
    color: aqua;
    text-align: center;
    padding-top: 2em;
    font-family: 'Advent Pro', cursive;
    padding-bottom: 0;
}
#serveur {
    font-family: 'Advent Pro', cursive;
    background-color: cbcbcb;
    padding-top: 30px;
    text-align: center;
}
#discord {
    font-family: 'Advent Pro', cursive;
    text-align: center;
}
button {
    padding: 20px 40px;
    background-color: rgba(0, 255, 230, 0.34);
    font-family: 'Advent Pro', cursive;
    border-color: gray;
    border-raduis: 10px;
}
footer {
    text-align: left;
    padding: 20px 22px;
}
h3 {
    font-family: 'Advent Pro', cursive;
    color: aqua;
    text-align: center;
    padding-top: 0;
}